@charset "utf-8";
@font-face {
    font-family: 'Balsamiq Sans';
    src: url('Content/Fonts/BalsamiqSans-Bold.ttf') format('truetype');
	font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Balsamiq Sans';
    src: url('Content/Fonts/BalsamiqSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}