@charset "utf-8";
body{
	background-color:lightgray;
	overflow:hidden;
	font-size:100%;
	margin:0em;
	padding:0em;
}
/*Schriften*/
h1{
	font-size:2.3em;
	line-height: 0.3em;
	font-family: 'Balsamiq Sans';
	font-weight: normal;
}
h2{
	font-size:1.3em;
	line-height: 0.6em;
	font-family: 'Balsamiq Sans';
	font-weight: normal;
}
a{
	font-size:1.3em;
	line-height: 0.8em;
	font-family: 'Balsamiq Sans';
	font-weight: normal;
	color: white;
	padding-left: 425px;
}
p{
	font-size:1em;
	line-height: 0.6em;
	font-family: 'Balsamiq Sans';
	font-weight: normal;
}
/*Schriften Ende*/

/*Content*/
.contentBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding-bottom: 0.2em;
  padding-left: 1em;
}
.contentTop {
  position: fixed;
  padding-top: 15px;
  padding-left: 5px;
  padding-bottom: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width:100%;
}
/*Content Ende*/

img {
    position: absolute;
    top: 50%;
    left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

/*Fonts*/
@font-face {
    font-family: 'Balsamiq Sans';
    src: url('Content/Fonts/BalsamiqSans-Bold.ttf') format('truetype');
	font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Balsamiq Sans';
    src: url('Content/Fonts/BalsamiqSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*Fonts Ende*/